/* Import google font */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: url('images/water.jpg');
}
/* Styline the Heading of Image Gallery */
.heading{ 
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	background: #121FCF;
	background: linear-gradient(to right, #0e85e0 0%, #0a4ae0 100%);
    background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: displayText 9s infinite;
}
/* Styling gallery section where all images are */
.gallery {
	width: 95%;
	margin:0 auto;
	display:grid;
	grid-template-columns: repeat(3,auto);
	grid-gap: 30px;
	justify-content:center;
	align-items: center; 
}

/* Styling Particular Image */
.gallery-img {
	width: 30vw;
	height: 35vh;
	border-radius: 10px;
	cursor: pointer;
	transition: transform 0.2s;
}
/* onHover image will expand little bit */
.gallery-img:hover {
	transform: scale(1.1);
	cursor: zoom-in;
}
/* This section will be seen when we click on image */
.image-popup-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

/* close button when we want to close the bigger image */
.close-button {
	position: absolute;
	top: 20px;
	right: 50px;
	font-size:60px;
	color: #fff;
	cursor: pointer;
}
.close-button:hover{
	color: red;
}

/* when we click on the image it will expand in bigger size and will displayed 
at middle of screen */
#popupImage {
	display: block;
	max-width: 80%;
	max-height: 80%;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/* Making images more responsive for smaller size device */
@media (max-width:670px) {
	.gallery{
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		grid-gap: 10px;
	}
	.gallery-img{
		width:150px;
		height: 150px;
	}

	.heading{
		font-size: 20px;
	}
}
