@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    position: relative;
    min-height: 100vh;
    background: linear-gradient(#307998,rgb(2, 103, 114));
}
.logo{
    margin-left: 2vh;
    border-radius: 50%;
    height:7vh;
}
.heading1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: #307998;
    width: 100vw;
    margin-bottom: 7vh;
}
.heading1 .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 5vw;
}
.heading1 .nav a:hover {
   font-size: 2.5vh;
   background-color: white;
   color: rgb(0, 0, 33);
   display: flex;
   align-items: center;
   height: 4vh;
   border-radius: 20px;
   padding-left: 2vh;
   padding-right: 2vh;
   margin-right: 4vw;
}
.nav a {
    padding-left: 2vh;
    padding-right: 2vh;
    text-decoration: none;
    color: white;
    font-size: 2.5vh;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 4vh;
    border-radius: 20px;
    margin-right: 4vw;
    transition-property: background-color;
    transition-duration: 0.6s;
}
.heading{ 
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: #fff;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    transform-style: preserve-3d;
}
.container .box{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: rgba(255,255,255,0.1);
    border-radius: 20px;
    transform-style: preserve-3d;
}
.container .box .name{
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    color: #fff;
    opacity: 0;
    z-index: 10;
    transition: 0.5s;
}
.container .box:hover .name{
    top: 40px;
    opacity: 1;
}
.container .box .buy{
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform-style: preserve-3d;
    color: #fff;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    padding: 20px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    transform: translate3d(-50%,0,80px);
    width: 210px;
    font-weight: 600;
    text-align: center;
    z-index: 10;
}
.container .box .product{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    max-width: 300px;
    transition: 0.5s;
}
.container .box:hover .product{
    transform: translate3d(-50%,-50%,100px);
}