*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 208, 0);
}
.img{
    height: 30vh;
    margin-top: 10vh;
    top: 20vh;
    left: 50vh;
}
h1 {
    color: black;
    display: flex;
    font-family: sans-serif;
    font-size: 50px;
    margin-bottom: 2vh;
    text-shadow: 2px 2px 4px white;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 36vw;
    margin-top: 20vh;
    margin-left: 16vw;
}
#num {
    width: 36vw;
    height: 17vh;
    font-size: 3vh;
    background-color: azure;
    border: 1px solid deepskyblue;
    padding-left: 15px;
    border-radius: 20px;
    box-shadow: 4px 4px 15px rgb(226, 225, 225);
    margin-top: 4.5vh;
}
.enter {
    width: 8vw;
    height: 5vh;
    margin-top: 5vh;
    margin-right: 2vh;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(78, 77, 77);
    font-size: 3vh;
    font-weight: bold;
    background-color: azure;
    color: black;
    transition-property: all;
    transition-duration: 0.6s;
}
.enter:hover{
    color: black;
    background-color: gray;
}
.reset {
    width: 8vw;
    height: 5vh;
    margin-top: 5vh;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(78, 77, 77);
    font-size: 3vh;
    font-weight: bold;
    transition-property: all;
    transition-duration: 0.6s;
    background-color: azure;
    color: black;
}
.reset:hover{
    color: black;
    background-color: gray;
}