html {
    height: 100%;
    width: 100%;
  }
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: azure;
  }
  h1{
    margin-top: 2vh;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    width: 20vw;
    margin-top: 13vh;
    background-color: white;
    border-radius: 12px;
    box-shadow: 10px 10px 25px rgb(168, 168, 168);
  }
  .input{
    text-align: right;
    width: 86%;
    margin-left: 7%;
    border: 2.3px solid rgb(92, 91, 91);
    border-radius: 5px;
    height: 13%;
    font-size: 5vh;
    margin-bottom: 2vh;
    margin-top: 3vh;
    background-color: rgb(243, 241, 241);
  }
  .button {
    padding-left: 0.2vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1vh;
    width: 86%;
    height: 70%;
    margin-left: 7%;
    margin-bottom: 2vh;
  }
  .btn {
    border-radius: 100%;
    border: none;
    width: 55px;
    height: 55px;
    cursor: pointer;
    font-size: 2.5vh;
    font-weight: bold;
    box-shadow: 1px 2px 7px rgb(107, 107, 107);
  }
  .btn:hover{
    box-shadow: 1px 2px 3px rgb(107, 107, 107);
  }
  
  